<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.diary.mapper.DiaryMapper">
 	<select id="selectDiary" resultType="map">
 		SELECT
 			*
 		FROM
 			`diary`	
 	</select>
 	
 	<insert id="insertDiary">
 		INSERT INTO `diary`
 		(
	 		userId
			,decidedDay
			,content
			,imagePath
			,createdAt
			,updatedAt
 		)
 		VALUES
 		(
 			#{userId}
 			, #{decidedDay}
 			, #{content}
 			, #{imagePath}
 			, NOW()
 			, NOW()	
 		)
 	</insert>
 </mapper>